@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?68wbpo');
  src:  url('../fonts/icomoon.eot?68wbpo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?68wbpo') format('truetype'),
    url('../fonts/icomoon.woff?68wbpo') format('woff'),
    url('../fonts/icomoon.svg?68wbpo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 2rem;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plan-man:before {
  content: "\e900";
}


#mainNav {
  background-color:#00205b;
}

#mainNav .dropdown-menu {
  background-color:#00205b;
  color:#FFF;
  text-align:center;
  width:100%;
  padding-top:none;
  margin-top:0;
  border:0;
}

#mainNav .navbar-toggler {
  font-size:12px;
  right:0;
  text-transform:uppercase;
  color:#FFF;
  border:0;
  background-color:#00205b;
  font-family:Oswald;
  padding:13px;
}

#mainNav .navbar-toggler:hover,#mainNav .navbar-toggler:focus {
  font-style:bold;
  outline:none;
}

#mainNav .navbar-brand {
  color:#fff;
  font-family:'Germond Pro';
}

#mainNav .navbar-brand.active,#mainNav .navbar-brand:active,#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover {
  color:#FFF;
  font-style:bold;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size:90%;
  font-weight:400;
  letter-spacing:1px;
  color:#ddd;
  font-family:Oswald;
  padding:.75em 0;
}

#mainNav .navbar-nav .nav-item .nav-link.active,#mainNav .navbar-nav .nav-item .nav-link:hover {
  color:#FFF;
}

.adjustment-container2 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 50%;
}

.adjustment-container3 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 33.33%;
}

.adjustment-container4 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 25%;
}

.adjustment-container5 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 20%;
}

.fixture-container{
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 33.33%;
  border-bottom: .33rem solid transparent;
}

.render-container{
  position: relative;
}

.img-button{
  white-space: nowrap;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 10rem;
}

a p.bc-option{
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.vert-cent{
  margin: 0;
  padding-left: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/* .fixture-container {
  float: left;
  position: relative;
  max-width: 100%;
} */

.title {
  padding-top:10vh;
  font-size:8vw;
}

.description {
  padding-top:2vh;
  font-size:3vw;
}

.bc-title{
  font-size: 1.2rem;
  padding-top: .75rem;
}

.list-group-item.bc-item{
  padding: 0;
  border: none;
}

.list-group li:first-child div.bc-header{
  border-top-left-radius: 1rem;
}

.list-group li:last-child div.bc-header{
  border-top-right-radius: 1rem;
}

.bc-header{
  height: 3rem;
  color: #fff;
  background-color: #00205b;
  border: 1px solid #00205b;
}

.bc-body{
  min-height: 3rem;
  border: 1px solid #00205b;
}

.bc-item{
  width: 16.67%
}

.list-group-horizontal{
  width: 100%;
}

.final_bc_item{
  width: 16.67%;
}

.modal-content {
  margin-top:20px;
  margin-bottom:20px;
}

.btn-primary {
  background-color:#00205b!important;
  border-color:#00205b!important;
}

.hover {
  cursor:pointer;
}

ol {
  color:#606060;
}

html,body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

#landing-text {
  width:100%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#FFF;
}

#landing-title {
  padding-bottom:2vh;
  font-size:6em;
  border:1px solid #00205b;
}

#landing-description {
  margin-right:10vw;
  margin-left:10vw;
  font-size:1em;
  border-radius:10px;
  background-color:rgba(30,30,30,0.7);
  padding:10px;
}

img.img {
  max-width:100%;
  max-height:90%;
}

.final_title i {
  margin-top: .07rem;
}

.final_title i:hover{
  cursor: pointer;
}

.rcp-img {
  display: block;
  margin-right: 2rem;
  float: left;
  width: 7.5rem;
  height: auto;
}

.rcp-img-container {
  width: 100%;
  height: 7.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h6.final_title {
  width:100%;
  background:#00205b;
  color:#FFF;
  border-radius: 1rem;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.modal-title{
  font-size: 1.875rem;
  font-weight: 600;
}

.modal-title-desc{
  font-size: 1.1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0;
}

.card-title{
  font-size: 1.5rem;
  font-weight: 600;
}

.h-80{
  height: 80% !important;
}

.h-20{
  height: 20% !important;
}

.card-text {
  font-size: 1.1rem;
  padding-right:20px;
  max-height: 15rem;
  overflow-y:auto;
}

.middle {
  width:100%;
  padding-top: 10rem
}

.middle h1 {
  width:100%;
  padding-right:10vw;
  padding-left:10vw;
  font-family: "Oswald", sans-serif;
  text-transform:uppercase;
  color:#fff;
  text-align:center;
  font-weight:600;
  font-size:6em;
  letter-spacing:.75vw;
  line-height: 6rem;
}

.middle p {
  width:80%;
  color:#fff;
  text-align:center;
  font-weight:20;
  font-size:1.1em;
  border-radius:10px;
  background-color:rgba(30,30,30,0.7);
  margin:auto;
  padding:10px;
}

.line {
  display:inline-block;
}

.card-deck .card{
  min-width: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.cct-border, .tod-border {
  border-bottom: .33rem solid transparent;
}

.cct-border:hover, .tod-border:hover {
  border-bottom: .33rem solid #00205b;
  cursor: pointer;
}

.tod-selected {
  border-bottom: .33rem solid #00205b;
  cursor: pointer;
}

.cct-selected {
  border-bottom: .33rem solid #00205b;
  cursor: pointer;
}

.hover:hover{
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.18), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow:0 1px 3px rgba(0,0,0,0.18), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow:0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.24);
}

ol li a,ol li a:hover {
  color:#00205b;
}

@media only screen and (min-width: 992px){
  #mainNav {
    padding-top:25px;
    padding-bottom:25px;
    -webkit-transition:padding-top .3s padding-bottom .3s;
    transition:padding-top .3s padding-bottom .3s;
    border:none;
    background-color:#00205b;
  }

  #mainNav .navbar-brand {
    font-size:1.75em;
    -webkit-transition:all .3s;
    transition:all .3s;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    padding:1.1em 1em!important;
  }

  #mainNav.navbar-shrink {
    padding-top:0;
    padding-bottom:0;
    background-color:#00205b;
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size:1.25em;
    padding:12px 0;
  }
}

@media only screen and (max-width: 920px){
  .middle h1 {
    padding-right:5vw;
    padding-left:5vw;
    font-size:3.5em;
    letter-spacing:1vw;
  }

  .middle p {
    font-size:.9em;
  }

}
