p, ol, ul, li{
  font-size: 1.2rem;
  font-family: arial;
  font-family: 'Source Sans Pro', sans-serif;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?68wbpo');
  src:  url('../fonts/icomoon.eot?68wbpo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?68wbpo') format('truetype'),
    url('../fonts/icomoon.woff?68wbpo') format('woff'),
    url('../fonts/icomoon.svg?68wbpo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 2rem;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plan-man:before {
  font-size: 1.75rem;
  content: "\e900";
}

.icon-plan-man{
  padding-bottom: .5rem;
  float: left;
  transform: rotate(140deg);
}

.adjustment-container2 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 50%;
}

.spd-cct-button-container{
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 16.667%
}

.adjustment-container3 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 33.33%;
}

.adjustment-container4 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 25%;
}

.adjustment-container5 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 20%;
}

.adjustment-container img{
  width: 100%;
}

.fixture-container{
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 33.33%;
  border-bottom: .33rem solid transparent;
}

.fixture-container img{
  width: 100%;
}

.fixture-container img:hover{
  cursor: pointer;
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.18), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow:0 1px 3px rgba(0,0,0,0.18), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow:0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.24);
}

.modal-label-caret{
  position: relative;
  top: 2px;
}

#application-modal-label:hover{
  cursor: pointer;
}

.render-container{
  position: relative;
}

.toggle-view-button{
  opacity: 0.95;
  white-space: nowrap;
  position: absolute;
  top: .75em;
  right: .75rem;
  color: white;
  width: 7.5rem;
  padding: 0;
  padding-left: .2rem;
  padding-right: .2rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: .25rem;
}

.cs-graph-button{
  opacity: 0.3;
  color: white;
  padding: 0;
  padding-left: .4rem;
  padding-right: .4rem;
  margin: .25rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: .25rem;
}

.cs-graph-button.active{
  opacity: 0.95
}

#cs-graph-buttons{
  white-space: nowrap;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}

a p.bc-option{
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.toggle-view-text{
  margin: 0;
  padding-left: 1.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/* .fixture-container {
  float: left;
  position: relative;
  max-width: 100%;
} */

.title {
  padding-top:10vh;
  font-size:8vw;
}

.description {
  padding-top:2vh;
  font-size:3vw;
}

.bc-item{
  border-left: 1px solid #dbdbdb;
}

.dropdown-item{
  color: #ddd !important;
  font-family: "Oswald", sans-serif;
  font-size: 90%;
  font-weight: 400;
  letter-spacing: 1px;
}

.content-height{
  height: calc(100% - 67px);
  max-height: calc(100% - 67px);
}

.dropdown-item:hover{
  color: #fff !important;
  background-color: #00205b;
}

.bc-title{
  font-weight: 600;
  height: 35%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #dbdbdb;
}

.card-footer-tabs{
 margin-right: -.625rem;
 margin-top: -.75rem;
 margin-left: -.625rem;
 border-top: 0;
}

.nav-tabs-footer .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #fff #dee2e6 #dee2e6;
}

.nav-tabs .nav-item-footer{
  margin-bottom: auto;
  font-size: .75rem;
  padding: .25rem;
  padding-right: 0;
  padding-left: 0;
}

.no-bullets{
  list-style-type: none;
}

.nav-item-footer-fixtures{
  margin-top: -1px;
  min-width: 16.66%;
}

.nav-item-footer-charts{
  margin-top: -5px;
  min-width: 20%;
}

.nav-tabs .nav-item-footer a{
  cursor: pointer;
  border-top: 0;
}

.card-footer.chart-card-footer, .card-footer.fixtures-card-footer{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.nav-tabs-footer{
  border-top: 0;
  border-bottom: 0;
}

.nav-tabs .nav-link-footer{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
  padding-right: .25rem;
  padding-left: .25rem;
}

.bc-selection{
  padding-top: .75rem;
  padding-bottom: .75rem;
  height: 65%;
  margin: auto;
  background-color: #f2f5f7;
}

.bc-selection:hover{
  cursor: pointer;
  background-color: #00205b;
  color: #fff;
}

.fixture-heading{
  background-color: #303030;
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
}

.fixture-heading h5{
  color: #fff;
}

.fixture-icon{
  height: 3rem;
  position: relative;
  top: 0%;
}

.fixture-header{
  max-height: 3rem;
}

.fixture-title{
  font-size: 1.5rem;
  font-weight: 600;
}

.max-height{
  max-height: 100%;
}

.right-panel-col{
  padding-left: 0;
  padding-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.right-panel{
  background-color: #f2f5f7;
}

.right-panel-card{
  margin-bottom: .5rem;
}

.right-panel-card:last-child{
  margin-bottom: auto;
}

.right-panel-padding{
  padding-bottom: 1.25rem;
}

.right-panel-h5{
  font-size: 1.1rem !important;
  padding-bottom: 1.25rem;
}

.right-panel-h5-fixture{
  padding-left: 1.25rem;
}

.right-panel-p{
  font-size: 1rem !important;
  font-weight: 300 !important;
}

.solutions-inner-odd{
  margin: 1rem;
  padding-right: .5rem;
  padding-left: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: .25rem;
  font-size: 1rem !important;
  font-weight: 300 !important;
  background-color: #ddd !important;
}

.solutions-inner-even{
  margin: 1rem;
  padding-right: .5rem;
  padding-left: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: .25rem;
  font-size: 1rem !important;
  font-weight: 300 !important;
  background-color: #f0f0f0 !important;
}

.fixed-footer{
  position: fixed;
  left: 0;
  bottom: .25rem;
  width: 100%;
  text-align: center;
}

.flex-footer{
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  text-align: center;
  background: #00205b;
}

.footer-p{
  font-weight: 200;
  font-size: 1rem;
  color: white;
  margin: 0;
}

.solutions-intro{
  font-weight: 400 !important;
}

.right-panel-hr{
  margin-top: 0;
}

.right-panel-expandable:hover div{
  cursor: pointer;
}

.right-panel-outer-title{
  font-weight: 600;
}

.fixture-scroll{
  max-height: 350px;
  overflow-y: auto;
  padding-right: 1rem;
}

#lightingSolutionContent{
  max-height: 450px;
  overflow-y: auto;
  padding-right: 1rem;
}

#assumptionsContent{
  max-height: 450px;
  overflow-y: auto;
  padding-right: 1rem;
}

.right-panel-grey-box{
  font-size: 1rem !important;
  font-weight: 400;
  background-color: #ccc;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: .5rem;
}

.text-middle{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.list-group-item.bc-item{
  padding: 0;
  border: none;
}

.list-group li:first-child div.bc-header{
  border-top-left-radius: 1rem;
}

.list-group li:last-child div.bc-header{
  border-top-right-radius: 1rem;
}

.bc-header{
  height: 3rem;
  color: #fff;
  background-color: #00205b;
  border: 1px solid #00205b;
}

.bc-body{
  min-height: 3rem;
  border: 1px solid #00205b;
}

.bc-item{
  width: 16.67%
}

.bc-row{
  text-align: center;
  height: 5rem;
}

.bc-row .bc-item:first-child{
  border-left: none;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.bc-row .bc-item:first-child .bc-title{
  border-top-left-radius: .25rem;
}

.bc-row .bc-item:first-child .bc-selection{
  border-bottom-left-radius: .25rem;
}

.bc-row .bc-item:last-child{
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.bc-row .bc-item:last-child .bc-title{
  border-top-right-radius: .25rem;
}

.bc-row .bc-item:last-child .bc-selection{
  border-bottom-right-radius: .25rem;
}

.list-group-horizontal{
  width: 100%;
}

.final_bc_item{
  width: 16.67%;
}

#final_cs img{
  width: 100%;
}

.modal-content {
  margin-top: auto;
  margin-bottom: auto;
}

.modal-xl{
  max-width: 85%;
}

.btn-primary {
  background-color:#00205b!important;
  border-color:#00205b!important;
}

.hover {
  cursor:pointer;
}

ol {
  color:#606060;
}

html,body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  scroll-behavior: smooth;
}

.body-bg{
  background-color: #f2f5f7;
  /* background-image: url("../img/application/landing/furley_bg.png");
  background-repeat: repeat; */
}

.sidebar-title{
  background: #fff;
  font-weight: 600;
  text-align: center;
  height: 2rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.sidebar-selection{
  text-align: center;
  background: #fafafa;
}

.sidebar-selection:hover{
  background-color: #00205b;
  cursor: pointer;
  color: #f4f4f4;
}

.card-body-small-padding{
  padding: .5rem;
}

.selection-card-text{
  margin-right: 1rem;
  max-height: 250px;
  overflow: auto;
}

.table-242{
  background-color: rgb(242,242,242);
}

.color-6500{
  background-color: rgb(140,214,240);
}

#landing-text {
  width:100%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#FFF;
}

#landing-title {
  padding-bottom:2vh;
  font-size:6em;
  border:1px solid #00205b;
}

#landing-description {
  margin-right:10vw;
  margin-left:10vw;
  font-size:1em;
  border-radius:10px;
  background-color:rgba(30,30,30,0.7);
  padding:10px;
}

img.img {
  max-width:100%;
  max-height:90%;
}

.final_title i {
  margin-top: .07rem;
}

.final_title i:hover{
  cursor: pointer;
}

.rcp-img {
  display: block;
  margin-right: 2rem;
  float: left;
  width: 7.5rem;
  height: auto;
}

.rcp-img-container {
  width: 100%;
  height: 7.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h6.final_title {
  width:100%;
  background:#00205b;
  color:#FFF;
  border-radius: 1rem;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.modal-title{
  font-size: 1.875rem;
  font-weight: 600;
}

#application-modal-desc{
  font-size: 1.1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0;
}

.card-title{
  font-size: 1.5rem;
  font-weight: 600;
}

.card-body p, .card-body ul li{
  font-size: 1.25rem;
}

.h-80{
  height: 80% !important;
}

.h-20{
  height: 20% !important;
}

.banner{
  height: 100%;
  max-height: 100%;
  position: relative;
}

.banner::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.30);
}

.banner-text{
  top: 20%;
  z-index: 1;
  position: relative;
  color: white;
  height: 13rem;
}

.banner-title{
  width:100%;
  padding-right:10vw;
  padding-left:10vw;
  font-family: "Oswald", sans-serif;
  text-transform:uppercase;
  color:#fff;
  text-align:center;
  font-weight:600;
  font-size:6em;
  letter-spacing:.75vw;
  line-height: 6rem;
}

.middle {
  width:100%;
  top: 20%;
}

.middle p {
  width:60%;
  color:#fff;
  text-align:center;
  font-weight: 200;
  font-size:1.1em;
  border-radius:10px;
  background-color:rgba(30,30,30,0.7);
  margin:auto;
  padding:10px;
}

.line {
  display:inline-block;
}

.card-deck .card{
  min-width: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.cct-border, .tod-border{
  border-bottom: .33rem solid transparent;
}

.cct-border:hover, .tod-border:hover {
  border-bottom: .33rem solid #00205b;
  cursor: pointer;
}

.tod-selected {
  border-bottom: .33rem solid #00205b;
  cursor: pointer;
}

.cct-selected {
  border-bottom: .33rem solid #00205b;
  cursor: pointer;
}

.bc-small{
  display: none;
}

.bc-xsmall{
  display: none;
}

.help-menu-list{
  height: calc(90vh - 2px);
  max-height: calc(90vh - 2px);
  padding: 0;
  margin: 0;
  list-style: none;
}

.help-menu-list-item{
  height: 12.5%;
  max-height: 12.5%;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
  background-color: rgb(235,235,235);
}

.help-menu-list-item:first-child{
  border-top-left-radius: .3rem;
}

.help-menu-list-item:last-child{
  border-bottom: 0px solid rgba(0,0,0,.125);
  border-bottom-left-radius: .3rem;
}

.help-menu-list-item:hover{
  cursor: pointer;
}

.help-menu-list-item.active{
  border-right: 1px solid rgb(255,255,255);
  background-color: rgb(255,255,255);
}

.help-menu-list-title{
  text-align: center;
  padding: 11% 0;
  margin: 0;
}

.help-menu-list-title:hover{
  cursor: pointer;
}

.help-menu-p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 350;
  font-size: 1.3rem;
}

.help-menu-content{
  height: 90vh;
  max-height: 90vh;
}

.help-body{
  height: calc(90vh - 80px);
  max-height: calc(90vh - 80px);
  overflow-y: auto;
}

.p-vertical{
  padding: 2% 0;

}

.w-40{
  width: 40%;
}

.w-12{
  width: 12%;
}

.w-80{
  width: 80%;
}

.w-85{
  width: 85%;
}

.w-90{
  width: 90%;
}

.w-95{
  width: 95%:
}

.col-p{
  padding-right: 1.5rem;
}

.row-p{
  padding-top: 1.25rem;
}

.hover:hover{
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.18), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow:0 1px 3px rgba(0,0,0,0.18), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow:0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.24);
}

.drop-shadow{
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.18), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow:0 1px 3px rgba(0,0,0,0.18), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow:0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.24);
}

ol li a,ol li a:hover {
  color:#00205b;
}

@media only screen and (min-width: 992px){
  #mainNav {
    padding-top:25px;
    padding-bottom:25px;
    -webkit-transition:padding-top .3s padding-bottom .3s;
    transition:padding-top .3s padding-bottom .3s;
    border:none;
    background-color:#00205b;
  }

  #mainNav .navbar-brand {
    font-size:1.75em;
    -webkit-transition:all .3s;
    transition:all .3s;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    padding:1.1em 1em!important;
  }

  #mainNav.navbar-shrink {
    padding-top:0;
    padding-bottom:0;
    background-color:#00205b;
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size:1.25em;
    padding:12px 0;
  }
}

@media only screen and (max-width: 992px){
  .banner-text{
    top: calc(0% + 66px);
  }

  .middle p.box-text{
    margin: auto;
    width: 100%;
  }

  .middle{
    position: absolute;
    top: -30%;
  }

  .banner-title{
    font-weight: 600;
    font-size: 2em;
    line-height: 3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }

  .modal-xl{
    width: 100%;
    max-width: 100%;
    margin: auto;
  }

  .modal-lg{
    width: 100%;
    max-width: 100%;
    margin: auto;
  }

  .right-panel-col{
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-p{
    padding-right: 1rem;
  }

  .row-p{
    padding-top: 0;
  }
}

@media only screen and (max-width: 1200px){
  .bc-large{
    display: none;
  }

  .bc-small{
    display: inline;
  }

  .bc-xsmall{
    display: none;
  }
}

@media only screen and (max-width: 768px){
  .bc-large{
    display: none;
  }

  .bc-small{
    display: none;
  }

  .bc-xsmall{
    display: inline;
  }
}
