h1 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

ul {
  list-style-type: none;
}

p, ol, ul, li {
  font-family: arial;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
}

h2 {
  margin-top: 0.25rem;
}

html {
  background: #f0f0f0;
  font-family: "Source Sans Pro", sans-serif;
}

html, body {
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

article {
  margin-bottom: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

thead.thead-dark tr th{
  background-color: #00205b !important;
  border-color: #212529 !important;
}

.table th{
  border-top: none;
}

.table th:first-child{
  border-top-left-radius: 0.25rem;
}

.table th:last-child{
  border-top-right-radius: 0.25rem;
}

a.section-link{
  text-decoration: none;
}

a.ref{
  color: violet !important;
}

a.ref:hover{
  color: violet !important;
  cursor: pointer;
}

a.term{
  color: red !important;
}

a.term:hover{
  color: red !important;
  cursor: pointer;
  text-decoration: underline !important;
}

body::-webkit-scrollbar {
  display: none;
  width: 0 !important
}

html::-webkit-scrollbar {
  display: none;
  width: 0 !important
}

img.enlarged{
  border-radius: .25rem;
  padding: 1.25rem;
  background-color: #F0F0F0;
}

img.enlarge:hover{
  cursor: pointer;
}

#enlarge_modal:hover{
  cursor:pointer;
}

.no-border{
  border: none;
}

.bg-transparent{
  background-color: transparent;
}

.enlarged{
  max-width: 100%;
  max-height: 80vh;
}

.glossaryTitle{
  font-size: 1.2rem;
  font-weight: 600;
}


.accordion-title{
  color: #fff;
  margin: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
}

.accordion-title-a:hover{
  text-decoration: none;
  background-color: #0047cc;
}

.ref-text{
  color: violet;
}

.term-text{
  color: red;
}

.tooltip.fade{
  opacity: 1;
}

div.tooltip-inner{
  opacity: 1;
}

.footer {
  bottom: 0.25rem;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.blue-text{
  color: #0a0096;
}

.red-text{
  color: #5c0000;
}

.footer-p {
  color: white;
  font-size: 1rem;
  font-weight: 200;
  margin: 0;
}

.h-200-offset {
  height: calc(200% - 61px);
}

.overflow-scroll {
  overflow-y: scroll;
}

.mh-200-offset {
  max-height: calc(200% - 61px);
}

.h-100-offset {
  height: calc(100% - 60px);
}

.mh-100-offset {
  max-height: calc(100% - 60px);
}

.h-100-plus-offset {
  max-height: calc(100% + 60px);
}

.ul2col {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}

.box {
  height: 100%;
  max-height: 100%;
}

.banner {
  background-image: url("../img/background/banner.jpg");
  background-position: 0 54%;
  background-size: cover;
  height: 100%;
  max-height: 100%;
  position: relative;
}

.article-content {
  padding-top: 48.4px;
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}

.middle {
  top: 50%;
  width: 100%;
}

.middle p.box-text {
  background-color: rgb(30,30,30);
  background-color: rgba(30, 30, 30, 0.7);
  border-radius: 10px;
  box-sizing: bordor-box;
  color: #fff;
  font-size: 1.1em;
  font-weight: 200;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 60%;
}

.cd-accordion-item {
  background-color: #313439;
  box-sizing: bordor-box;
  color: white;
  max-width: 100rem;
  padding: 15px 25px 15px 45px;
  width: 100rem;
}

.btn-primary {
  background-color: #00205b;
  border-color: #00205b;
}

.banner::after {
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.banner-text {
  color: white;
  height: 13rem;
  position: relative;
  top: 20%;
  z-index: 1;
}

.banner-title {
  box-sizing: border-box;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 6em;
  font-weight: 600;
  letter-spacing: 0.75vw;
  line-height: 6rem;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.italic {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.cornell-border h6 {
  color: black;
  font-weight: 600;
}

.w-85{
  width: 85%;
}

.w-80{
  width: 80%;
}

.w-65 {
  width: 65%;
}

.w-45 {
  width: 45%;
}

.w-40 {
  width: 40%;
}

.w-38 {
  width: 38%;
}

.w-35 {
  width: 35%;
}

.w-33 {
  width: 33%;
}

.w-30 {
  width: 30%;
}

.w-22 {
  width: 22%;
}

.w-15 {
  width: 15%;
}

.w-10{
  width: 10%;
}

.line-height-1 {
  line-height: 1.2rem;
}

.icon-border {
  border: 3px solid black;
}

#ourrole p {
  line-height: 10rem;
}

.dropdown-item {
  color: #ddd;
  font-family: "Oswald", sans-serif;
  font-size: 90%;
  font-weight: 400;
  letter-spacing: 1px;
}

.article-inner-title {
  color: black;
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  text-align: center;
}

.article-inner-title-not-centered {
  color: black;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.article-inner-inner-title {
  color: black;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 0.35rem;
}

.figtable{
  display: table;
}

.figcaption {
  font-size: 0.85rem;
  font-style: italic;
  font-weight: 400;
}

.figcaption-top{
  margin-top: -3rem;
  margin-bottom: 0.5rem;
  display: table-caption;
  caption-side: top;
}

.dropdown-item:hover {
  background-color: #00205b;
  color: #fff;
}

.w-90 {
  width: 90%;
}

.background-card {
  background: #ededed;
}

.btn-primary {
  color: white;
}

.accordion {
  background-color: #002770;
  overflow: auto;
}

.release-note-title{
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.15rem;
}

.fa-lightbulb{
  font-size: .875em;
}

.release-note-date{
font-size: 0.85rem;
}

.acnav {
  overflow-y: auto;
}

.stroke {
  color: white;
  text-shadow: -0.4px -0.4px 0 #061d59, 0.4px -0.4px 0 #061d59, -0.4px 0.4px 0 #061d59, 0.4px 0.4px 0 #061d59;
}

.drop-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.18), 0 10px 10px rgba(0, 0, 0, 0.24);
}

.gain {
  border: 1px solid black;
  box-sizing: border-box;
  height: 35px;
}

.gain-text {
  top: 50%;
  transform: translateY(2px);
}

#content {
  color: #383838;
}

hr {
  background-color: #383838;
  border-radius: 7px;
  border-top: 1px solid black;
  box-sizing: border-box;
  float: left;
  height: 2px;
  margin: 0;
  width: 300px;
}

.jquery-accordion-menu {
  top: 0;
}

.bt {
  border-top: 2px solid black;
}

.section-title {
  background-color: #f0f0f0;
  border-bottom: 2px solid #383838;
  padding-top: 0.25rem;
}

.right-border-large {
  border-right: 2px solid #383838;
}

.question {
  font-size: 1.3rem;
  font-weight: 600;
}

.center {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.resource{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.our-role-card {
  border-radius: 0.25rem;
}

.color-why {
  background-color: rgb(200,200,200);
  background-color: rgba(200, 200, 200, 0.5);
}

.color-what {
  background-color: rgb(0,0,255);
  background-color: rgba(0, 0, 255, 0.5);
}

.color-who {
  background-color: rgb(255,0,0);
  background-color: rgba(255, 0, 0, 0.5);
}

.color-how {
  background-color: rgb(7,160,7);
  background-color: rgba(7, 160, 7, 0.5);
}

.help-menu-list{
  height: calc(90vh - 2px);
  list-style: none;
  margin: 0;
  max-height: calc(90vh - 2px);
  padding: 0;
}

.help-menu-list-item{
  background-color: rgb(235,235,235);
  border-bottom: 1px solid rgb(0,0,0);
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgb(0,0,0);
  border-right: 1px solid rgba(0,0,0,.125);
  box-sizing: border-box;
  height: 33.3%;
  max-height: 33.3%;
  padding: 0;
  width: 100%;
}

.help-menu-list-item:first-child{
  border-top-left-radius: .3rem;
}

.help-menu-list-item:last-child{
  border-bottom: 0;
  border-bottom-left-radius: .3rem;
}

.help-menu-list-item:hover{
  cursor: pointer;
}

.help-menu-list-item.active{
  background-color: rgb(255,255,255);
  border-right: 1px solid rgb(255,255,255);
}

.help-menu-list-title{
  margin: 0;
  padding: 33.3% 0;
  text-align: center;
}

.help-menu-list-title:hover{
  cursor: pointer;
}

.help-menu-p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
}

.help-menu-content{
  height: 90vh;
  max-height: 90vh;
}

.help-body{
  height: calc(90vh - 80px);
  max-height: calc(90vh - 80px);
  overflow-y: auto;
}

.help-menu-header{
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
}

.modal-xl{
  max-width: 85%;
}

.modal-xxl{
  max-width: 95%;
}

.w-85{
  width: 85%;
}

.suggestion-form{
  border: 0px;
  margin: 0;
  height: 1220px;
  width: 100%;
}

.subsection-row{
  padding-top: 1rem;
}

#backToTop {
  display: inline-block;
  background-color: #7d7d7d;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#backToTop:hover {
  cursor: pointer;
  background-color: #0054f0;
}
#backToTop:active {
  background-color: #0054f0;
}
#backToTop.show {
  opacity: 0.6;
  visibility: visible;
}

@media only screen and (max-width: 1200px){
  article{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media only screen and (max-width: 992px) {
  article{
    width: 100% !important;
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
  }

  #contentRow{
    margin: 0;
  }

  #contentRow-container{
    padding: 0;
  }

  .mobile-figure{
    float: none;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .mobile-figure img{
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
  }

  .mobile-figure figcaption{
    margin-bottom: 1rem !important;
  }

  .mobile-img{
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
  }

  .suggestion-form{
    height: 1650px;
  }

  .right-border-large {
    border-right: none !important;
  }

  .middle p.box-text {
    margin: auto;
    width: 100%;
  }
  .resource{
    position: relative;
    margin: .5rem 0;
  }
  #backToTop.show {
    opacity: 0;
    visibility: hidden;
  }
}
@media only screen and (max-width: 768px) {
  .accordion{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .banner-title{
    font-size:4em;
    line-height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
