h1 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

ul{
  list-style-type: none;
}

p, ol, ul, li{
  font-size: 1.2rem;
  font-family: arial;
  font-family: 'Source Sans Pro', sans-serif;
}

h2{
  margin-top: .25rem;
}

html {
  background: rgb(240,240,240);
  font-family: 'Source Sans Pro', sans-serif;
}

html,body{
  height: 100%;
}

article{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 2.5rem;
}

.footer{
  z-index: 100;
  position: absolute;
  left: 0;
  bottom: .25rem;
  width: 100%;
  text-align: center;
}

.footer-p{
  font-weight: 200;
  font-size: 1rem;
  color: white;
  margin: 0;
}

.h-200-offset{
  height: calc(200% - 67px);
}

.overflow-scroll{
  overflow-y: scroll;
}

.mh-200-offset{
  max-height: calc(200% - 67px);
}

.h-100-offset{
  height: calc(100% - 67px);
}

.mh-100-offset{
  max-height: calc(100% - 67px);
}

.h-100-plus-offset{
  max-height: calc(100% + 67px);
}

.ul2col{
  columns: 2;
-webkit-columns: 2;
-moz-columns: 2
}

#mainNav {
  background-color: #00205b;
}

#navbar{
  width: 100%;
  z-index: 10;
  top: 0;
}

#mainNav .dropdown-menu {
  background-color:#00205b;
  color:#FFF;
  text-align:center;
  width:100%;
  padding-top:none;
  margin-top:0;
  border: 1px solid white;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
  background-color: #00205b;
  font-family: "Oswald";
}

#mainNav .navbar-toggler:hover,
 #mainNav .navbar-toggler:focus{
	font-style:bold;
	outline:none;
}

#mainNav .navbar-brand {
  color: #dddddd;
  font-family: 'Germond Pro';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #FFFFFF;
  font-style: bold;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: #dddddd;
  font-family: Oswald;/*'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #FFFFFF;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #00205b;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #00205b;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.45em;
    padding: 12px 0;
  }
}

.box{
  height: 100%;
  max-height: 100%;
}

.banner{
  height: 100%;
  max-height: 100%;
  position: relative;
  background-image: url("../img/background/banner.jpg");
  background-size: cover;
  background-position: 0% 54%;
}

.article-content{
  padding-top: 48.4px;
}

.sticky{
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}

.middle {
  width:100%;
  padding-top: 10rem
  top: 50%;
}

.middle p.box-text {
  width:60%;
  color:#fff;
  text-align:center;
  font-weight: 200;
  font-size:1.1em;
  border-radius:10px;
  background-color:rgba(30,30,30,0.7);
  margin:auto;
  padding:10px;
}

.cd-accordion-item{
  background-color: #313439;
  padding: 15px, 25px, 15px, 45px;
  color: white;
  max-width: 100rem;
  width: 100rem;
}

.btn-primary {
  background-color:#00205b!important;
  border-color:#00205b!important;
}

.banner::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.30);
}

.banner-text{
  top: 20%;
  z-index: 1;
  position: relative;
  color: white;
  height: 13rem;
}

.banner-title{
  width: 100%;
  padding-right: 10vw;
  padding-left: 10vw;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 6em;
  letter-spacing: .75vw;
  line-height: 6rem;
}

.segue{
  font-weight: bold;
  font-style: italic;
  text-decoration: none !important;
  cursor: pointer;
}

.italic{
  text-align: center;
  font-size: 20px;
  font-style: italic;
}

.cornell-border{
  border-right: 2px solid #383838;
}

.cornell-border h6{
  color: black;
  font-weight: 600;
}

.w-65{
  width: 65%;
}

.w-45{
  width: 45%;
}

.w-40{
  width: 40%;
}

.w-38{
  width: 38%;
}

.w-35{
  width: 35%;
}

.w-33{
  width: 33%;
}

.w-30{
  width: 30%
}

.w-22{
  width: 22%;
}

.w-15{
  width: 15%;
}

.line-height-1{
  line-height: 1.2rem;
}

.icon-border{
  border: 3px solid black;
}

#ourrole p{
  line-height: 10rem;
}

.dropdown-item{
  color: #ddd !important;
  font-family: "Oswald", sans-serif;
  font-size: 90%;
  font-weight: 400;
  letter-spacing: 1px;
}

.article-inner-title{
  margin-bottom: 1.25rem;
  text-align: center;
  color: black;
  font-size: 1.15rem;
  font-weight: 600;
}

.article-inner-title-not-centered{
  margin-bottom: 1.25rem;
  color: black;
  font-size: 1rem;
  font-weight: 600;
}

.article-inner-inner-title{
  font-weight: 400;
  margin-bottom: .35rem;
  color: black;
  font-size: 1rem;
  font-style: italic;
}

.figcaption{
  font-size: .85rem;
  font-weight: 400;
  font-style: italic;
}

.dropdown-item:hover{
  color: #fff !important;
  background-color: #00205b;
}

.w-90{
  width: 90%;
}

.background-card{
  background: rgb(237,237,237);
}

@media (max-width: 1200px){
  h1{
    font-size: 5vw;
  }
  .italic{
    font-size: 2vw;
    padding: 0;
  }
  img{
    max-width: 400px;
  }
  img.wide{
    max-width: 500px;
  }
  img.keep-small{
    max-width: 300px;
  }
}

@media (max-width: 920px){
  img.wide{
    max-width: 400px;
  }
}

@media (max-width: 500px){
  h1{
    font-size: 8vw;
    padding: 0;
    margin: 0;
  }
  .italic{
    font-size: 2.8vw;
    padding: 0;
  }
  img{
    max-width: 300px;
  }
  img.wide{
    max-width: 300px;
  }
}

.btn-primary{
  color: white !important;
}

.accordion{
  background-color: #002770;
  overflow: auto;
}

.bb{
  border-bottom: 3px solid black;
}

.acnav{
  overflow-y: auto;
}

@media (max-width: 768px){
  .accordion{
    height: 100%;
    max-height: 100%;
  }
}

@media only screen and (max-width: 992px){
  .right-border-large{
    border-right: none !important;
  }
}

.stroke{
  color: white;
  text-shadow: -.4px -.4px 0 #061d59, .4px -.4px 0 #061d59, -.4px .4px 0 #061d59, .4px .4px 0 #061d59;
}

.drop-shadow{
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.18), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow:0 1px 3px rgba(0,0,0,0.18), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow:0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.24);
}

.gain{
  height: 35px;
  border: 1px solid black;
}

.gain-text{
  top: 50%;
  transform: translateY(2px);
}

#content{
  color: #383838;
}

#content a[href^="#"]{
  color: black;
  text-decoration: underline;
}

hr{
  margin: 0;
  width: 300px;
  float: left;
  background-color: #383838;
  border-top: 1px solid black;
  border-radius: 7px 7px 7px 7px;
  height: 1px;
}

.jquery-accordion-menu{
  top: 0;
}

.bt{
  border-top: 2px solid black;
}

.sticky-title{
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(240,240,240);
  border-bottom: 2px solid #383838;
  padding-top: .25rem;
}

.right-border-large{
  border-right: 2px solid #383838;
}

.question{
  font-weight: 600;
  font-size: 1.3rem;
}

.center{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.our-role-card{
  border-radius: .25rem
}

.color-why{
  background-color: rgba(200,200,200,0.5);
}

.color-what{
  background-color: rgba(0,0,255,0.5);
}

.color-who{
  background-color: rgba(255,0,0,0.5);
}

.color-how{
  background-color: rgba(7,160,7,0.5);
}
