h1 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

p{
  font-family: arial;
  /* font-family: 'Source Sans Pro', sans-serif; */
}

#mainNav {
  background-color: #00205b;
}

#mainNav .dropdown-menu {
	background-color: #00205b;
	color: #FFFFFF;
	text-align: center;
	width: 100%;
	padding-top: none;
	margin-top: 0rem;
	border: 0rem;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
  background-color: #00205b;
  font-family: Oswald;/*'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
}

#mainNav .navbar-toggler:hover,
 #mainNav .navbar-toggler:focus{
	font-style:bold;
	outline:none;
}

#mainNav .navbar-brand {
  color: #dddddd;
  font-family: 'Germond Pro';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #FFFFFF;
  font-style: bold;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: #dddddd;
  font-family: Oswald;/*'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #FFFFFF;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #00205b;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #00205b;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.45em;
    padding: 12px 0;
  }
}

.box{
  height: 100%;
  max-height: 100%;
}

.banner{
  max-width: 100%;
  height: 13rem;
  position: relative;
  background-size: cover;
  background-image: url("../img/background/banner.jpg");
  background-position: 0% 54%;
}

.banner-text{
  height: 13rem;
}


.banner::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}

.banner-text{
  top: 30%;
  z-index: 1;
  position: relative;
  color: white;
  font-weight: 400;
  font-style: normal;
}

.italic{
  padding-left: 300px;
  font-size: 20px;
  font-style: italic;
}

@media (max-width: 1200px){
  .banner{
    height: 16vw;
    min-height: 120px;
  }
  h1{
    font-size: 5vw;
  }
  .italic{
    font-size: 2vw;
    padding: 0;
  }
  img{
    max-width: 400px;
  }
  img.wide{
    max-width: 500px;
  }
  img.keep-small{
    max-width: 300px;
  }
}

@media (max-width: 920px){
  img.wide{
    max-width: 400px;
  }
}

@media (max-width: 500px){
  .banner{
    height: 16vw;
    min-height: 120px;
  }
  h1{
    font-size: 8vw;
    padding: 0;
    margin: 0;
  }
  .italic{
    font-size: 2.8vw;
    padding: 0;
  }
  img{
    max-width: 300px;
  }
  img.wide{
    max-width: 300px;
  }
}

.accordion{
  height: auto;
  background-color: #00205b;
}

@media (max-width: 768px){
  .accordion{
    height: 100%;
    max-height: 100%;
  }
}

.stroke{
  color: white;
  text-shadow: -.4px -.4px 0 #061d59, .4px -.4px 0 #061d59, -.4px .4px 0 #061d59, .4px .4px 0 #061d59;
}

.gain{
  height: 35px;
  border: 1px solid black;
}

.gain-text{
  top: 50%;
  transform: translateY(2px);
}

#content{
  color: #383838;
}

#content a[href^="#"]{
  color: black;
  text-decoration: underline;
}

hr{
  margin: 0;
  width: 300px;
  float: left;
  background-color: #383838;
  border-top: 1px solid black;
  border-radius: 7px 7px 7px 7px;
  height: 1px;
}

.jquery-accordion-menu{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sticky-title{
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  background-color: #00205b;
  z-index: 1;
}

.sticky-title h1{
  color: #fff !important;
}

.figure img{
  display: block;
  float: left;
}
